@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Amazon Ember';
}
/* Scroll Bar */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

/* Nav Bar */
nav {
  padding: 1rem 1rem;
  background-color: #232f3e;
}
.navbar-brand a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.navbar-brand img{
  width: 50px;
}
.navbar-brand p{
  margin: 5px;
  color: orange;
  font-family: 'Archivo Black';
}
/* Menu bar */
.navMenu {
  display: none;
}
.menuItems {
  display: none;
  transition: all 0.3s ease-out; 
}
.menuItems.open {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
}
/* Search field */
.input-group {
  width: 100%;
}
#search_btn {
  background-color: #febd69;
}
#search_field {
  height: 2.4rem;
  padding: 1rem;
}
/* Cart */
#cartIcon{
  font-size: 30px;
  color: orange;
}
#cart_count {
  background-color: #febd69;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}
/* Login, Signup, Logout button*/
.loginBtn , .registerBtn, .logoutBtn{
  width: 80px;
  padding: 5px;
  color: white;
  background-color: orange;
  border-radius: 5px;
  border-style: none;
}
.loginBtn:hover{
  border: 1px solid white;
}
.user{
  color: white;
  cursor: pointer;
  margin-top: 15px;
}
.user:hover{
  color: orange;
}
.logoutBtn{
  background-color: red;
}
/* Home page */
#products_heading {
  margin-top: 1.5rem;
  margin-bottom: -2rem;
}
.banner{
  width: 100%;
}
.pcSpinner{
  width: 200px;
  margin-right: 85px;
}
.card {
  height: 100%;
}
.card-title a {
  color: #2e2e2e;
  font-weight: bold;
}
.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
transition: all 0.3s ease-out; 
}
.card-body {
  padding-left: 0;
}
.card-text {
  font-size: 1.4rem;
  font-weight: bold;
}
#view_btn {
  color: white;
  background-color: #fa9c23;
  font-weight: bold;
}
#view_btn:hover {
  color: #fa9c23;
  background-color: white;
  border: 1px solid #fa9c23;
}
.card-img-top {
  width: 200px;
  height: 150px;
}
.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}
.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}
.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}
.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Product Details Page */
.pdSpinner{
  width: 200px;
  margin-top: 100px;
}
#product_image img{
  margin-top: 40px;
  width: 450px;
  height: 450px;
}
#product_id {
  color: grey;
  font-size: 0.8rem;
}
#product_price {
  font-size: 2rem;
  font-weight: bold;
}
#cart_btn{
  border-radius: 2rem;
  background-color: #fa9c23;
  border: none;
  padding: 0.5rem 2rem;
}
#product_seller {
  color: grey;
  font-size: 0.9rem;
}
.plus, .minus {
  padding: 0.1rem 0.5rem;
}
.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}
#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

/* Cart Page*/
.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}
.cart-item a {
  color: grey;
}
#delete_cart_item {
  color: red;
  background: white;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
  border: none;
}
#card_item_price {
  color: #fa9c23;
  font-weight: bold;
  font-size: 1.4rem;
}
#checkout_btn{
  background-color: #fa9c23;
  border-color: #fa9c23;
  margin-top: 2rem;
  border-radius: 5rem;
}
#order_summary {
  border: 2px solid #dacece;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}
#order_summary p{
  text-align: left;
}
.order-summary-values {
  float: right;
  font-weight: bold;
}
.placed{
  color: green;
  padding: 10px;
  font-weight: bold;
}
.emptyCart{
  margin-top: 30px;
}
/* Login Page */
.login{
  width: 400px;
  height: 400px;
  margin-top: 30px;
  padding: 20px;
  border: 0px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(179, 169, 169);
}
.login input{
  width: 300px;
  padding: 5px;
  margin-top: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  transition: border 0.3s ease;
}
.login input:focus{
  border: 2px solid orange;
  outline: none;
}
.login button{
  color: white;
  background-color: orange;
  width: 300px;
  padding: 5px;
  margin: 30px 0px 10px 0px;
  border-radius: 5px;
  border-style: none;
}
.login p{
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.login hr{
  width: 100%;
  border: 1px solid rgba(114, 107, 107, 0.555);
  color: black;
}
/* Register Page */
.register{
  width: 400px;
  height: auto;
  margin-top: 30px;
  padding: 20px;
  border: 0px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(179, 169, 169);
}
.register input{
  width: 300px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  transition: border 0.3s ease;
}
.register input:focus{
  border: 2px solid orange;
  outline: none;
}
.register button{
  color: white;
  background-color: orange;
  width: 300px;
  padding: 5px;
  margin: 15px 0px 15px 0px;
  border-radius: 5px;
  border-style: none;
}
.register p{
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.register hr{
  width: 100%;
  border: 1px solid rgba(114, 107, 107, 0.555);
  color: black;
}

/* Footer */
footer {
  width: 100%;
  height: 75px;
  margin-top: 23rem;
  bottom: 0;
  background-color: #232f3e;
}
footer p{
  padding: 20px 0px 0px 0px;
}

/* Mobile Responsive */
@media only screen and (max-width: 768px) {
  body{
    font-family: 'Amazon Ember';
  }
  .pcSpinner{
    margin-left: 60px;
  }
  /* .toaster{
    margin:20px 30px;
    width:250px;
    height:30px;
    font-size:13px;
  } */
  .navCart, .navLogin, .navRegister, .navLogout, .navUser{
      display: none;
  }
  .navLogo {
      text-align: left;
  }
  .navbar-brand img, p{
    z-index: 1;
  }
  .navSearch {
      text-align: center;
  }
  .navMenu{
    display: block;
  }
  .menuIcon {
      color: white;
      display: block;
      font-size: 30px;
      text-align: right;  
      margin-right: 10px;
      margin-top: -100px;
      cursor: pointer;
  }
  .menuItems{
      position: absolute;
      top: 100%;
      left: -1px;
      width: 100%;
      background-color: #232f3e;
      z-index: 1;
  }
  .menuItems a, .menuItems p {
      display: block;
      padding: 10px 20px;
      text-align: center;
      border: none;
      cursor: pointer;
      color: white;
      background-color: #232f3e;
  }
  .menuItems a{
      text-decoration: none;
  }
  .menuItems a:hover{
      color: orange;
  }
  .menuItems a i {
      margin-right: 5px;
  }
  .menuItems.open {
    display: block;
    position: absolute;
    top: 100%;
    right: 0; 
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .login{
    width: 90%;
    height: 100%;
  }
  .login h1{
    font-size: 30px;
  }
  .login input, .login button{
    width: 100%;
  }
  .register{
    width: 90%;
    height: 100%;
  }
  .register h1{
    font-size: 30px;
  }
  .register input, .register button{
    width: 100%;
  }
  #products_heading {
    font-size: 30px;
  }
  .swiper .swiper-slide img{
    height: 100px;
  }
  #product_image img{
    width: 200px;
    height: 200px;
  }
  .cartNo{
    font-size: 25px;
    margin-top: -100px;
    padding: -50px 0px;
  }
  .cart-item {
    width: 300px;
    height: 150px;
  }
  .cart-item img{
    width: 100%;
  }
  .cart-item a {
    color: grey;
    font-size: 18px;
  }
  .cart-item #card_item_price{
    font-size: 1.2rem;
  }
  .cart-item .stockCounter{
    width: 100px;
    height: 100px;
  }
  .cart-item .stockCounter span{
    width: 21px;
    height: 25px;
    padding: 0;
    margin: 0;
  }
  .cart-item .stockCounter input{
    width: 30px;
    height: 25px;
    padding: 0;
    margin: 0 3px;
  }
  #delete_cart_item {
    margin: -10px;
  }
  .empty{
    font-size: 25px;
  }
  .placed{
    font-size: 18px;
  }
}